PORT=2000;
MONGODB_URI=___
CORS_ORIGIN=___

ACCESS_TOKEN_SECRET=___
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=___
REFRESH_TOKEN_EXPIRY=10d


CLOUDINARY_CLOUD_NAME=___
CLOUDINARY_API_KEY=___
CLOUDINARY_API_SECRET=___